// fonts
$roboto-font: "Roboto", sans-serif;
$primary-font: "Outfit", sans-serif;
$title-font: "Big Shoulders", sans-serif;

//colors
$color-orange: #D5966C;
$color-black: #151515;
$color-grey: #444444;
$color-white: #FFFFFF;
  
//size
$max-desktop: 1440px;
