@use '../abstracts/variables' as var;
@use'../abstracts/mixins' as mix;

.footer {
    margin-top: 120px;
    padding: 48px 32px 48px 32px;
    background-color: var.$color-black;
    color: var.$color-white;
    @include mix.breakpoint(tablet) {
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 56px 40px;
    }
    @include mix.breakpoint(desktop) {
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 80px 165px;
        margin: 0;
    }
    img {
        height: 40px;
        @include mix.breakpoint(desktop) {
            height: 58px;
        }
    }
    p {
        color: var.$color-white;
        margin-top: 32px;
        font-size: 16px;
        line-height: 26px;
        @include mix.breakpoint(tablet) {
            padding: 0;
            margin: 0;
            width: 38%;
            text-align: justify;
            line-height: 26px;
        }
        @include mix.breakpoint(desktop) {
            padding: 0;
            margin: 0;
            width: 40%;
            font-size: 18px;
            margin-right: 140px;
            line-height: 28px;
       }
    }
    .ssmm {
        margin-top: 38px;
        display: flex;
        gap: 20px;
        @include mix.breakpoint(tablet) {
            margin: 0;
        }
        @include mix.breakpoint(desktop) {
            margin: 0;
        }
        img {
            width: 20px;
        }
    }
}

.footer__location {
    padding: 48px 32px;
    background-color: var.$color-orange;
    color: var.$color-black;
    @include mix.breakpoint(tablet) {
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 56px 40px;
    }
    @include mix.breakpoint(desktop) {
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 56px 40px;
        margin: 0;
    }  
    img {
        height: 40px;
        @include mix.breakpoint(desktop) {
            height: 58px;
        }
    }
    p {
        color: var.$color-black;
        margin-top: 32px;
        font-size: 16px;
        @include mix.breakpoint(tablet) {
            padding: 0;
            margin: 0;
            width: 40%;
            text-align: justify;
        }
        @include mix.breakpoint(desktop) {
            padding: 0;
            margin: 0;
            width: 32%;
        }
    }
    .ssmm {
        margin-top: 38px;
        display: flex;
        gap: 20px;
        @include mix.breakpoint(tablet) {
            margin: 0;
        }
        @include mix.breakpoint(desktop) {
            margin: 0;
            margin-right: 165px;
        }
        img {
            width: 20px;
        }
    }
}
